body {
    max-width: 579px;
    margin: auto;
}
section {
    max-width: 95%;
    margin: auto;
}
section:first-child {
    margin-top: 35px;
}
h1,
h2 {
    text-align: center;
}
button#record {
    background: transparent;
    width: 75px;
    height: 75px;
    border-radius: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    position: relative;
}
button#record.active {
    animation: pulse 500ms infinite;
}
img {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
#keep-pressed {
    width: 100px;
    height: auto;
    position: absolute;
}
section#recording div.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.grite {
    display: none;
    margin: 0 5px;
}
.grite.active {
    display: block;
}
.clip {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.clip audio {
    width: calc(100% - 95px);
    margin-right: 10px;
}
.clip-label {
    width: 100%;
    margin-top: 0;
}
.delete-button {
    display: flex;
    font-size: 16px;
    align-items: center;
    cursor: pointer;
}
#feed {
    display: flex;
    flex-direction: column;
}
#feed li {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 15px;
}

#feed li audio {
    width: 100%;
}

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert.danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

@keyframes pulse {
    0% {
        background-color: rgba(67, 0, 0, 0.5);
    }
    25% {
        background-color: rgba(121, 0, 0, 0.5);
    }
    50% {
        background-color: rgba(173, 0, 0, 0.5);
    }
    75% {
        background-color: rgba(212, 0, 0, 0.5);
    }
    100% {
        background-color: rgba(231, 0, 0, 0.5);
    }
}
